<!--@subject {{var store.getFrontendName()}}: Order # {{var order.increment_id}} suspected fraud @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.getCustomerEmail()":"Customer Email",
"var order_link":"Order Link"
}
@-->
<!--@styles
@-->

{{template config_path="design/email/header_template"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="order-details">
            <h3>Order <a href="{{var order_link}}"><span class="no-link">#{{var order.increment_id}}</span></a></h3>
            <p>Placed on {{var order.getCreatedAtFormated('long')}}</p>
            <p>By {{var order.getCustomerName()}} <a href="mailto:{{var order.getCustomerEmail()}}">({{var order.getCustomerEmail()}})</a></p>
            <strong>Suspected for fraud</strong>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}