.worldline-section .worldline-payment-logo {background: url("images/wordline-logo.jpg")  no-repeat 0 0% / 18rem auto;
    height: 160px; width: auto; padding-left: 20rem; display:inline-block; vertical-align: middle;}
.worldline-section .button-container {float: right;}
.worldline-section .worldline-payment-text { display: inline-block; vertical-align: middle; width: 50%}
