<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <group id="information" translate="label" type="=text" sortOrder="5" showInDefault="1">
        <label>Information &amp; Support</label>
        <field id="module_version" translate="label" type="label" sortOrder="5" showInDefault="1">
            <label>Current Version</label>
            <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\Version</frontend_model>
        </field>
        <field id="merchant_link" translate="label" type="link" sortOrder="10" showInDefault="1">
            <label>Merchant Support</label>
            <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\Merchant\Link</frontend_model>
        </field>
        <field id="github_link" translate="label" type="link" sortOrder="15" showInDefault="1">
            <label>Technical Support</label>
            <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\GitHub\Link</frontend_model>
        </field>
        <field id="technical_partner" translate="label" type="link" sortOrder="20" showInDefault="1">
            <label>Technical Partner</label>
            <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\TechnicalPartner\Link</frontend_model>
        </field>
        <field id="documentation_link" translate="label" type="link" sortOrder="25" showInDefault="1">
            <label>Worldline documentation</label>
            <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\Documentation\Link</frontend_model>
        </field>
        <field id="phone_support" translate="label" type="label" sortOrder="30" showInDefault="1">
            <label>Phone Support</label>
            <comment><![CDATA[
                            <p>
                                Europe: 0080042347328<br/>
                                USA: 18553267119<br/>
                                Singapore: 8003111027<br/>
                                China: 4000023179
                            </p>
                            <p>In case your telecom provider does not support Universal International Freephone Numbers (UIFN), you can dial +31 23 554 8657.</p>
                    ]]></comment>
        </field>
    </group>
    <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>General settings</label>
        <field id="webhooks_endpoint" translate="label comment" type="label" sortOrder="10" showInDefault="1" showInWebsite="1">
            <label>Magento webhook endpoint</label>
            <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\WebhookEndpoint</frontend_model>
            <comment>Configure your webhook in the Worldline Configuration center with the above URL. Enable all checkboxes for "payment" and "refund".</comment>
        </field>
        <field id="manager_email" translate="label" type="text" sortOrder="20" showInDefault="1">
            <label>Email for manual review</label>
            <validate>validate-email</validate>
            <config_path>worldline_connect/fraud/manager_email</config_path>
        </field>
        <field id="limit_api_field_length" translate="label" type="Worldline\Connect\Data\Form\Element\Toggle" sortOrder="40" showInDefault="1">
            <label>Limit API field length</label>
            <comment>Enabling this setting will limit the length of the fields sent to the payments API.</comment>
            <config_path>worldline_connect/settings/limit_api_field_length</config_path>
        </field>
        <field id="log_frontend_requests" translate="label" type="Worldline\Connect\Data\Form\Element\Toggle" sortOrder="50" showInDefault="1">
            <label>Log client side API communication</label>
            <config_path>worldline_connect/settings/log_frontend_requests</config_path>
        </field>
        <field id="log_all_requests" translate="label" type="Worldline\Connect\Data\Form\Element\Toggle" sortOrder="60" showInDefault="1">
            <label>Log all server side webhooks and API communication</label>
            <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\LogAllRequests</frontend_model>
            <config_path>worldline_connect/settings/log_all_requests</config_path>
        </field>
        <field id="descriptor" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1">
            <label>Soft descriptor</label>
            <config_path>worldline_connect/settings/descriptor</config_path>
        </field>
        <field id="redirect_text" translate="label tooltip" type="text" sortOrder="83" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Redirect text</label>
            <config_path>worldline_connect/settings/redirect_text</config_path>
        </field>
        <field id="api_endpoint" translate="label" type="select" sortOrder="85" showInDefault="1" showInWebsite="1">
            <label>Active environment</label>
            <source_model>Worldline\Connect\Model\Config\Source\ApiEndpoint</source_model>
            <backend_model>Magento\Framework\App\Config\Value</backend_model>
            <config_path>worldline_connect/settings/api_endpoint</config_path>
        </field>
        <group id="api_endpoint_sandbox" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1">
            <label>Sandbox settings</label>
            <comment><![CDATA[Try out our free testing environment. Sign up <a target="_blank" href="https://docs.connect.worldline-solutions.com/signup-for-sandbox/index">here</a>.]]></comment>
            <field id="merchant_id" translate="label tooltip" type="text" sortOrder="5" showInDefault="1" showInWebsite="1">
                <label>Merchant ID (MID)</label>
                <config_path>worldline_connect/settings/merchant_id_sandbox</config_path>
            </field>
            <field id="api_url" translate="label tooltip" type="text" sortOrder="6" showInDefault="1" showInWebsite="1">
                <label>API URL</label>
                <config_path>worldline_connect/settings/api_url_sandbox</config_path>
            </field>
            <field id="api_key" translate="label tooltip" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>API key ID</label>
                <backend_model>Worldline\Connect\Model\Config\Backend\ApiKey</backend_model>
                <config_path>worldline_connect/settings/api_key_sandbox</config_path>
            </field>
            <field id="api_secret" translate="label tooltip" type="obscure" sortOrder="15" showInDefault="1" showInWebsite="1">
                <label>API secret</label>
                <backend_model>\Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                <config_path>worldline_connect/settings/api_secret_sandbox</config_path>
            </field>
            <field id="webhooks_key_id" translate="label tooltip" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                <label>Webhooks key ID</label>
                <backend_model>Worldline\Connect\Model\Config\Backend\ApiKey</backend_model>
                <config_path>worldline_connect/webhook/webhooks_key_id_sandbox</config_path>
            </field>
            <field id="webhooks_secret_key" translate="label tooltip" type="obscure" sortOrder="25" showInDefault="1" showInWebsite="1">
                <label>Webhooks secret key</label>
                <backend_model>\Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                <config_path>worldline_connect/webhook/webhooks_secret_key_sandbox</config_path>
            </field>
            <field id="test_api_connection" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="1">
                <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\TestApiConnectionSandbox</frontend_model>
                <label>API Connection</label>
            </field>
        </group>
        <group id="api_endpoint_pre_prod" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1">
            <label>Pre-Production settings</label>
            <field id="merchant_id" translate="label tooltip" type="text" sortOrder="5" showInDefault="1" showInWebsite="1">
                <label>Merchant ID (MID)</label>
                <config_path>worldline_connect/settings/merchant_id_pre_prod</config_path>
            </field>
            <field id="api_url" translate="label tooltip" type="text" sortOrder="6" showInDefault="1" showInWebsite="1">
                <label>API URL</label>
                <config_path>worldline_connect/settings/api_url_pre_prod</config_path>
            </field>
            <field id="api_key" translate="label tooltip" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>API key ID</label>
                <backend_model>Worldline\Connect\Model\Config\Backend\ApiKey</backend_model>
                <config_path>worldline_connect/settings/api_key_pre_prod</config_path>
            </field>
            <field id="api_secret" translate="label tooltip" type="obscure" sortOrder="15" showInDefault="1" showInWebsite="1">
                <label>API secret</label>
                <backend_model>\Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                <config_path>worldline_connect/settings/api_secret_pre_prod</config_path>
            </field>
            <field id="webhooks_key_id" translate="label tooltip" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                <label>Webhooks key ID</label>
                <backend_model>Worldline\Connect\Model\Config\Backend\ApiKey</backend_model>
                <config_path>worldline_connect/webhook/webhooks_key_id_pre_prod</config_path>
            </field>
            <field id="webhooks_secret_key" translate="label tooltip" type="obscure" sortOrder="25" showInDefault="1" showInWebsite="1">
                <label>Webhooks secret key</label>
                <backend_model>\Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                <config_path>worldline_connect/webhook/webhooks_secret_key_pre_prod</config_path>
            </field>
            <field id="test_api_connection" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="1">
                <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\TestApiConnectionPreProduction</frontend_model>
                <label>API Connection</label>
            </field>
        </group>
        <group id="api_endpoint_prod" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1">
            <label>Production settings</label>
            <field id="merchant_id" translate="label tooltip" type="text" sortOrder="5" showInDefault="1" showInWebsite="1">
                <label>Merchant ID (MID)</label>
                <config_path>worldline_connect/settings/merchant_id_prod</config_path>
            </field>
            <field id="api_url" translate="label tooltip" type="text" sortOrder="6" showInDefault="1" showInWebsite="1">
                <label>API URL</label>
                <config_path>worldline_connect/settings/api_url_prod</config_path>
            </field>
            <field id="api_key" translate="label tooltip" type="text" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>API key ID</label>
                <backend_model>Worldline\Connect\Model\Config\Backend\ApiKey</backend_model>
                <config_path>worldline_connect/settings/api_key_prod</config_path>
            </field>
            <field id="api_secret" translate="label tooltip" type="obscure" sortOrder="15" showInDefault="1" showInWebsite="1">
                <label>API secret</label>
                <backend_model>\Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                <tooltip>You will receive this information from Worldline.</tooltip>
                <config_path>worldline_connect/settings/api_secret_prod</config_path>
            </field>
            <field id="webhooks_key_id" translate="label tooltip" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                <label>Webhooks key ID</label>
                <backend_model>Worldline\Connect\Model\Config\Backend\ApiKey</backend_model>
                <config_path>worldline_connect/webhook/webhooks_key_id_prod</config_path>
            </field>
            <field id="webhooks_secret_key" translate="label tooltip" type="obscure" sortOrder="25" showInDefault="1" showInWebsite="1">
                <label>Webhooks secret key</label>
                <backend_model>\Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                <config_path>worldline_connect/webhook/webhooks_secret_key_prod</config_path>
            </field>
            <field id="test_api_connection" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="1">
                <frontend_model>Worldline\Connect\Block\Adminhtml\System\Config\Field\TestApiConnectionProduction</frontend_model>
                <label>API Connection</label>
            </field>
        </group>
    </group>
</config>
