<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ingenico>
                <model>IngenicoFacade</model>
                <title>Ingenico</title>
            </ingenico>
            <!-- Cards -->
            <ingenico_cards>
                <model>Ingenico\Connect\PaymentMethod\Cards</model>
                <title>Ingenico Cards</title>
                <active>1</active>
                <can_initialize>1</can_initialize>
                <can_capture>1</can_capture>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_authorize_vault>1</can_authorize_vault>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>5</sort_order>
            </ingenico_cards>
            <ingenico_americanexpress>
                <model>Ingenico\Connect\PaymentMethod\AmericanExpress</model>
                <title>Ingenico American Express</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>10</sort_order>
            </ingenico_americanexpress>
            <ingenico_cartebancaire>
                <model>Ingenico\Connect\PaymentMethod\CarteBancaire</model>
                <title>Ingenico Carte Bancaire</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>15</sort_order>
            </ingenico_cartebancaire>
            <ingenico_mastercard>
                <model>Ingenico\Connect\PaymentMethod\Mastercard</model>
                <title>Ingenico Mastercard</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>20</sort_order>
            </ingenico_mastercard>
            <ingenico_visa>
                <model>Ingenico\Connect\PaymentMethod\Visa</model>
                <title>Ingenico Visa</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>25</sort_order>
            </ingenico_visa>
            <!-- Redirect -->
            <ingenico_giropay>
                <model>Ingenico\Connect\PaymentMethod\Giropay</model>
                <title>Ingenico Giropay</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>30</sort_order>
            </ingenico_giropay>
            <ingenico_ideal>
                <model>Ingenico\Connect\PaymentMethod\iDeal</model>
                <title>Ingenico iDeal</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>35</sort_order>
            </ingenico_ideal>
            <ingenico_open_banking>
                <model>Ingenico\Connect\PaymentMethod\OpenBanking</model>
                <title>Ingenico Open Banking</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>40</sort_order>
            </ingenico_open_banking>
            <ingenico_paypal>
                <model>Ingenico\Connect\PaymentMethod\PayPal</model>
                <title>Ingenico PayPal</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>45</sort_order>
            </ingenico_paypal>
            <ingenico_paysafecard>
                <model>Ingenico\Connect\PaymentMethod\Paysafecard</model>
                <title>Ingenico Paysafecard</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>50</sort_order>
            </ingenico_paysafecard>
            <ingenico_sofort>
                <model>Ingenico\Connect\PaymentMethod\Sofort</model>
                <title>Ingenico Sofort</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>55</sort_order>
            </ingenico_sofort>
            <ingenico_trustly>
                <model>Ingenico\Connect\PaymentMethod\Trustly</model>
                <title>Ingenico Trustly</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>60</sort_order>
            </ingenico_trustly>
            <!-- Hpp -->
            <ingenico_hpp>
                <model>Ingenico\Connect\PaymentMethod\Hpp</model>
                <title>Other payment methods</title>
                <active>1</active>
                <can_initialize>1</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>65</sort_order>
            </ingenico_hpp>
            <!-- Vault -->
            <ingenico_vault>
                <model>Ingenico\Connect\PaymentMethod\Vault</model>
                <title>Ingenico Vault</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>100</sort_order>
            </ingenico_vault>
            <ingenico_americanexpress_vault>
                <model>Ingenico\Connect\PaymentMethod\AmericanExpressVault</model>
                <title>Ingenico Vault</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>100</sort_order>
            </ingenico_americanexpress_vault>
            <ingenico_cartebancaire_vault>
                <model>Ingenico\Connect\PaymentMethod\CarteBancaireVault</model>
                <title>Ingenico Vault</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>100</sort_order>
            </ingenico_cartebancaire_vault>
            <ingenico_mastercard_vault>
                <model>Ingenico\Connect\PaymentMethod\MastercardVault</model>
                <title>Ingenico Vault</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>100</sort_order>
            </ingenico_mastercard_vault>
            <ingenico_visa_vault>
                <model>Ingenico\Connect\PaymentMethod\VisaVault</model>
                <title>Ingenico Vault</title>
                <active>1</active>
                <can_initialize>0</can_initialize>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <payment_action>authorize_capture</payment_action>
                <sort_order>100</sort_order>
            </ingenico_visa_vault>
            <ingenico_cc_vault>
                <model>IngenicoCreditCardVaultFacade</model>
            </ingenico_cc_vault>
        </payment>
        <ingenico_epayments>
            <model>Ingenico\Connect\Model\Payment\Ingenico</model>
            <title>Ingenico Connect</title>
            <general>
                <payment_action>authorize</payment_action>
                <sort_order>500</sort_order>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_accept_payment>1</can_accept_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </general>
            <settings>
                <hosted_checkout_subdomain>https://payment.</hosted_checkout_subdomain>
                <log_all_requests>0</log_all_requests>
                <log_all_requests_file>ingenico_epayments.log</log_all_requests_file>
                <limit_api_field_length>0</limit_api_field_length>
            </settings>
            <checkout>
                <inline_payments>0</inline_payments>
                <hosted_checkout_variant>100</hosted_checkout_variant>
                <hosted_checkout_guest_variant>100</hosted_checkout_guest_variant>
            </checkout>
            <captures>
                <capture_mode>authorize</capture_mode>
            </captures>
            <credit_cards>
                <toggle>1</toggle>
                <save_for_later_visible>1</save_for_later_visible>
                <payment_flow_type>1</payment_flow_type>
                <group_card_payment_methods>1</group_card_payment_methods>
            </credit_cards>
            <ideal>
                <toggle>1</toggle>
                <payment_flow_type>0</payment_flow_type>
            </ideal>
            <paypal>
                <toggle>1</toggle>
            </paypal>
            <sofort>
                <toggle>1</toggle>
            </sofort>
            <trustly>
                <toggle>1</toggle>
                <payment_flow_type>0</payment_flow_type>
            </trustly>
            <giropay>
                <toggle>1</toggle>
                <payment_flow_type>0</payment_flow_type>
            </giropay>
            <open_banking>
                <toggle>1</toggle>
            </open_banking>
            <paysafecard>
                <toggle>1</toggle>
            </paysafecard>
            <payment_method_groups>
                <TOKEN>Saved payment options</TOKEN>
                <BANKTRANSFER>Bank transfer</BANKTRANSFER>
                <CARD>Credit cards</CARD>
                <CASH>Cash</CASH>
                <DIRECTDEBIT>Direct debit</DIRECTDEBIT>
                <EINVOICE>e-Invoice</EINVOICE>
                <INVOICE>Invoice</INVOICE>
                <REDIRECT>Redirect</REDIRECT>
            </payment_method_groups>
            <payment_statuses>
                <account_verified><![CDATA[The account has been verified using a validation services like 0$ auth]]></account_verified>
                <created><![CDATA[The transaction has been created. This is the initial state once a new payment is created.]]></created>
                <in_progress><![CDATA[Payment status is unknown.]]></in_progress>
                <redirected><![CDATA[The consumer has been redirected to a 3rd party to complete the authentication/payment]]></redirected>
                <pending_payment><![CDATA[Instructions have been provided and we are now waiting for the money to come in]]></pending_payment>
                <pending_capture><![CDATA[The transaction is waiting for you to request one or more captures of the funds]]></pending_capture>
                <pending_fraud_approval><![CDATA[The transaction has been marked for manual review after an automatic fraud screening]]></pending_fraud_approval>
                <pending_approval><![CDATA[The transaction is awaiting approval from you to proceed with the capturing of the funds]]></pending_approval>
                <rejected><![CDATA[The transaction has been rejected]]></rejected>
                <authorization_requested><![CDATA[We have requested an authorization against an asynchronous system and is awaiting its response]]></authorization_requested>
                <capture_requested><![CDATA[The transaction is in the queue to be captured]]></capture_requested>
                <captured><![CDATA[The transaction has been captured and we have received online confirmation]]></captured>
                <paid><![CDATA[We have matched the incoming funds to the transaction]]></paid>
                <cancelled><![CDATA[You have cancelled the transaction]]></cancelled>
                <rejected_capture><![CDATA[We or one of our downstream acquirers/providers have rejected the capture request]]></rejected_capture>
                <reversed><![CDATA[The transaction has been reversed]]></reversed>
                <chargebacked><![CDATA[The transaction has been chargebacked]]></chargebacked>
                <refunded><![CDATA[The transaction has been refunded]]></refunded>
            </payment_statuses>
            <refund_statuses>
                <created><![CDATA[The transaction has been created.]]></created>
                <cancelled><![CDATA[You have cancelled the refund]]></cancelled>
                <rejected><![CDATA[The refund has been rejected]]></rejected>
                <pending_approval><![CDATA[The transaction is awaiting approval from you to proceed with the processing of the refund]]></pending_approval>
                <refund_requested><![CDATA[The transaction is in the queue to be refunded]]></refund_requested>
                <captured><![CDATA[We have successfully refunded the consumer and has received an online confirmation from the third party]]></captured>
                <refunded><![CDATA[We have successfully refunded the consumer]]></refunded>
            </refund_statuses>
            <fraud>
                <email_template>fraud_email</email_template>
            </fraud>
            <pending_orders_cancellation>
                <days>3</days>
            </pending_orders_cancellation>
        </ingenico_epayments>
        <ingenico_cc_vault>
            <general>
                <title>Ingenico Stored Cards</title>
                <active>1</active>
                <can_authorize_vault>1</can_authorize_vault>
                <can_use_internal>1</can_use_internal>
                <can_initialize>0</can_initialize>
            </general>
        </ingenico_cc_vault>
    </default>
</config>
