<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="worldline_config_provider" xsi:type="object">Worldline\Connect\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="epayments" xsi:type="string">/epayments/webhooks/</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="connect_session" xsi:type="string">Worldline\Connect\CustomerData\ConnectSession</item>
            </argument>
        </arguments>
    </type>

    <type name="Worldline\Connect\CustomerData\ConnectSession">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="worldline_cards" xsi:type="object">Worldline\Connect\Model\Ui\CardsTokenUiComponentProvider</item>
                <item name="worldline_americanexpress" xsi:type="object">Worldline\Connect\Model\Ui\AmericanExpressTokenUiComponentProvider</item>
                <item name="worldline_cartebancaire" xsi:type="object">Worldline\Connect\Model\Ui\CarteBancaireTokenUiComponentProvider</item>
                <item name="worldline_discover" xsi:type="object">Worldline\Connect\Model\Ui\DiscoverTokenUiComponentProvider</item>
                <item name="worldline_mastercard" xsi:type="object">Worldline\Connect\Model\Ui\MastercardTokenUiComponentProvider</item>
                <item name="worldline_visa" xsi:type="object">Worldline\Connect\Model\Ui\VisaTokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Worldline\Connect\Model\Ui\CardsTokenUiComponentProvider" type="Worldline\Connect\Model\Ui\TokenUiComponentProvider">
        <arguments>
            <argument name="code" xsi:type="const">Worldline\Connect\PaymentMethod\PaymentMethods::CARDS_VAULT</argument>
        </arguments>
    </virtualType>

    <virtualType name="Worldline\Connect\Model\Ui\AmericanExpressTokenUiComponentProvider" type="Worldline\Connect\Model\Ui\TokenUiComponentProvider">
        <arguments>
            <argument name="code" xsi:type="const">Worldline\Connect\PaymentMethod\PaymentMethods::AMERICAN_EXPRESS_VAULT</argument>
        </arguments>
    </virtualType>

    <virtualType name="Worldline\Connect\Model\Ui\CarteBancaireTokenUiComponentProvider" type="Worldline\Connect\Model\Ui\TokenUiComponentProvider">
        <arguments>
            <argument name="code" xsi:type="const">Worldline\Connect\PaymentMethod\PaymentMethods::CARTE_BANCAIRE_VAULT</argument>
        </arguments>
    </virtualType>

    <virtualType name="Worldline\Connect\Model\Ui\DiscoverTokenUiComponentProvider" type="Worldline\Connect\Model\Ui\TokenUiComponentProvider">
        <arguments>
            <argument name="code" xsi:type="const">Worldline\Connect\PaymentMethod\PaymentMethods::DISCOVER_VAULT</argument>
        </arguments>
    </virtualType>

    <virtualType name="Worldline\Connect\Model\Ui\MastercardTokenUiComponentProvider" type="Worldline\Connect\Model\Ui\TokenUiComponentProvider">
        <arguments>
            <argument name="code" xsi:type="const">Worldline\Connect\PaymentMethod\PaymentMethods::MASTERCARD_VAULT</argument>
        </arguments>
    </virtualType>

    <virtualType name="Worldline\Connect\Model\Ui\VisaTokenUiComponentProvider" type="Worldline\Connect\Model\Ui\TokenUiComponentProvider">
        <arguments>
            <argument name="code" xsi:type="const">Worldline\Connect\PaymentMethod\PaymentMethods::VISA_VAULT</argument>
        </arguments>
    </virtualType>

</config>
